<h1> Doctor <%= @doctor.name%> </h1>

<h3> <%= @doctor.department %> </h3>
<ul>
<% @doctor.appointments.each do |appointment|%>
<li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M")%></li>
<%= link_to appointment.patient.name, patient_path(appointment.patient)%>
<% end %>
</ul>